
services:
  frontend-dev:
    image: node:20-alpine
    container_name: frontend_dev
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    env_file:
      - .env
    # .env sẽ tự động được copy từ .env.dev hoặc .env.prod bởi run-dev.sh hoặc run-prod.sh

  frontend-prod:
    build: .
    image: frontend:latest
    container_name: frontend_prod
    ports:
      - "3000:80"
    env_file:
      - .env
